name: Advanced API Automation  # workflow name, shown in Action Dashboard

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule: # set the CRON for MID NIGHT . In github its UTC, so ocnvert to IST
    - cron: "30 18 * * *" # MM HH MO DATE DAY # execute every midnight
  workflow_dispatch:
    inputs:
     env:
      description: "Environment"
      type: choice
      options: [qa,uat,dev]
      default: qa
      required: true

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Execute Test Automation Framework
      run: mvn clean test -DsuiteXmlFile=testng.xml -Denv="${{ github.event.inputs.env }}"

    - name: Upload a Build Artifact
      if: always()
      uses: actions/upload-artifact@v5.0.0
      with:
        name: SureFire Report
        path: target/surefire-reports
        retention-days: 10
